# 자주 사용하는 프로그램밍 용어 복습

## 01 : 올림/내림/반올림

In [1]:
import numpy as np

a = 321.34225

# 올림
print(np.ceil(a))

# 내림
print(np.trunc(a))

# 반올림 (소수 몇째 점 2째자리 까지 살리기)
print(round(a,2))

# 반올림 (10의 자리수 까지 살리기)
print(round(a,-1))

322.0
321.0
321.34
320.0

## 02 : Basic Math

- 자연상수
> $\displaystyle{e = \lim_{n \to \infty}(1 \; + \; \frac{1}{n})^n}$

- 삼각함수
> $\displaystyle{tan(x) \; = \; \frac{sin(x)}{cos(x)}}$  

> $sin^{\\'}(x) \; = \; cos(x)$  
    $cos^{\\'}(x) \; = \; -sin(x)$  
    $tan^{\\'}(x) \; = \; sec^2(x)$  

> $\displaystyle{csc(x) \; = \; \frac{1}{sin(x)}}$  
    $\displaystyle{sec(x) \; = \; \frac{1}{cos(x)}}$  
    $\displaystyle{cot(x) \; = \; \frac{1}{tan(x)}}$  

> $csc^{\\'}(x) \; = \; -csc(x)cot(x)$  
    $sec^{\\'}(x) \; = \; sec(x)tan(x)$  
    $cot^{\\'}(x) \; = \; -csc^2(x)$

- 미분법
> $\displaystyle{(\frac{f(x)}{g(x)})^{\\'} \; = \; \frac{f^{\\'}(x)g(x) \; - \; g^{\\'}(x)f(x)}{g^2(x)} \quad \rightarrow \quad 몫의 \; 미분법}$

## 03 : for 문 변수 2개 사용

### -01 : iter + 변수

    for i, x in enumerate(list, int) :

> 주의사항
>> for iter, list in enumerate(list, star_iter_No)
>>> 위치가 매칭되지 않으니 헷갈리면 안된다

#### _01 : 0 부터 index 지정

In [2]:
listdata = ['Alice', 'Bob', 'Charlie']

for i, name in enumerate(listdata):
    print(i, name)

0 Alice
1 Bob
2 Charlie

#### _02 : 지정 index 지정

In [3]:
listdata = ['Alice', 'Bob', 'Charlie']

for i, name in enumerate(listdata, 10):
    print(i, name)

10 Alice
11 Bob
12 Charlie

### -02 : 변수1 + 변수2

    for x, y in zip (x_list, y_list)

> 활용방법  
>> Key : data 를 만들어 DataFrame 을 생성해 볼 수 있다
>>> emumerate for 를 한번 더 반복해 줌으로 써 index 를 추가하는 것도 가능하다

In [4]:
names = ['Alice', 'Bob', 'Charlie']
ages = [24, 50, 18]

for name, age in zip(names, ages):
    print(name, age)

Alice 24
Bob 50
Charlie 18

In [5]:
import numpy as np

n = 4345342

def solution(n):    
    a = []
    a.append(str(n))
    a.sort(reverse=True)
    answer = a
    return answer

solution(n)

['4345342']

In [6]:
n = 123456

n = str(n)

list_a = []
list_a.append(n)
print(len(n))

6

## 04 : 정규표현식

In [7]:
n = 123456

def solution(n):    
    a = []
    k = n

    for i in range(0, len(str(n))) :
        몫 = k // 10
        나머지 = k % 10
        a.append(나머지)
        k = ( k - 나머지 ) / 10

    a.sort()
    answer = 0

    for i in range(0,len(str(n))) :
        answer = int(a[i]) * ( 10 ** i ) + answer
 
    return answer

solution(n)

654321

In [8]:
123 // 10

12

In [9]:
123 % 10

3

In [10]:
a = '1 234'
a = a.split()
a

['1', '234']

In [11]:
a = 1234
b = list(map(int, str(a)))
c = list(map(str, str(a)))
print(b, c)

[1, 2, 3, 4] ['1', '2', '3', '4']

문제 설명

로또 6/45(이하 '로또'로 표기)는 1부터 45까지의 숫자 중 6개를 찍어서 맞히는 대표적인 복권입니다. 아래는 로또의 순위를 정하는 방식입니다.  

1
순위	당첨 내용
1	6개 번호가 모두 일치
2	5개 번호가 일치
3	4개 번호가 일치
4	3개 번호가 일치
5	2개 번호가 일치
6(낙첨)	그 외
로또를 구매한 민우는 당첨 번호 발표일을 학수고대하고 있었습니다. 하지만, 민우의 동생이 로또에 낙서를 하여, 일부 번호를 알아볼 수 없게 되었습니다. 당첨 번호 발표 후, 민우는 자신이 구매했던 로또로 당첨이 가능했던 최고 순위와 최저 순위를 알아보고 싶어 졌습니다. 
알아볼 수 없는 번호를 0으로 표기하기로 하고, 민우가 구매한 로또 번호 6개가 44, 1, 0, 0, 31 25라고 가정해보겠습니다. 당첨 번호 6개가 31, 10, 45, 1, 6, 19라면, 당첨 가능한 최고 순위와 최저 순위의 한 예는 아래와 같습니다.
당첨 번호	31	10	45	1	6	19	결과
최고 순위 번호	31	0→10	44	1	0→6	25	4개 번호 일치, 3등
최저 순위 번호	31	0→11	44	1	0→7	25	2개 번호 일치, 5등
순서와 상관없이, 구매한 로또에 당첨 번호와 일치하는 번호가 있으면 맞힌 걸로 인정됩니다.
알아볼 수 없는 두 개의 번호를 각각 10, 6이라고 가정하면 3등에 당첨될 수 있습니다.
3등을 만드는 다른 방법들도 존재합니다. 하지만, 2등 이상으로 만드는 것은 불가능합니다.
알아볼 수 없는 두 개의 번호를 각각 11, 7이라고 가정하면 5등에 당첨될 수 있습니다.
5등을 만드는 다른 방법들도 존재합니다. 하지만, 6등(낙첨)으로 만드는 것은 불가능합니다.
민우가 구매한 로또 번호를 담은 배열 lottos, 당첨 번호를 담은 배열 win_nums가 매개변수로 주어집니다. 이때, 당첨 가능한 최고 순위와 최저 순위를 차례대로 배열에 담아서 return 하도록 solution 함수를 완성해주세요.
제한사항
lottos는 길이 6인 정수 배열입니다.
lottos의 모든 원소는 0 이상 45 이하인 정수입니다.
0은 알아볼 수 없는 숫자를 의미합니다.
0을 제외한 다른 숫자들은 lottos에 2개 이상 담겨있지 않습니다.
lottos의 원소들은 정렬되어 있지 않을 수도 있습니다.
win_nums은 길이 6인 정수 배열입니다.
win_nums의 모든 원소는 1 이상 45 이하인 정수입니다.
win_nums에는 같은 숫자가 2개 이상 담겨있지 않습니다.
win_nums의 원소들은 정렬되어 있지 않을 수도 있습니다.
입출력 예
lottos	win_nums	result
[44, 1, 0, 0, 31, 25]	[31, 10, 45, 1, 6, 19]	[3, 5]
[0, 0, 0, 0, 0, 0]	[38, 19, 20, 40, 15, 25]	[1, 6]
[45, 4, 35, 20, 3, 9]	[20, 9, 3, 45, 4, 35]	[1, 1]
입출력 예 설명
입출력 예 #1
문제 예시와 같습니다.
입출력 예 #2
알아볼 수 없는 번호들이 아래와 같았다면, 1등과 6등에 당첨될 수 있습니다.
당첨 번호	38	19	20	40	15	25	결과
최고 순위 번호	0→38	0→19	0→20	0→40	0→15	0→25	6개 번호 일치, 1등
최저 순위 번호	0→21	0→22	0→23	0→24	0→26	0→27	0개 번호 일치, 6등
입출력 예 #3
민우가 구매한 로또의 번호와 당첨 번호가 모두 일치하므로, 최고 순위와 최저 순위는 모두 1등입니다.
실제로 사용되는 로또 순위의 결정 방식과는 약간 다르지만, 이 문제에서는 지문에 명시된 대로 로또 순위를 결정하도록 합니다.  ↩

In [16]:
l1 = [44, 1, 0, 0, 31, 25]


w1 = [31, 10, 45, 1, 6, 19]	


# r1 = [3,5]
# rw = [1,6]
# r3 = [1,1]

def solution(lottos, win_nums):

    lottos.sort()
    win_nums.sort()
    correct = 0
    unkwon_num = 0
    
    for i in lottos :
        if i == 0 :
            unkwon_num += 1
        else :
            break
    del lottos[:unkwon_num]

    for i in lottos :
        for j in win_nums :
            if i == j :
                correct += 1
                break
            else :
                pass
            
    min_rank = 7 - correct
    max_rank = min_rank - unkwon_num

    if min_rank == 7 :
        min_rank = 6

    answer = [max_rank, min_rank] 
    
    return answer

print(solution(l2, w2))

[1, 6]

In [31]:
# l1 = [44, 1, 0, 0, 31, 25]
# w1 = [31, 10, 45, 1, 6, 19]	
l2 = [0,0,0,0,0,0]
w2 = [38, 19, 20, 40, 15, 25]
# l4 = [1,2,3,4,5,6]
# w4 = [7,8,9,10,11,12]
# r1 = [3,5]

def solution(lottos, win_nums):

    lottos.sort()
    win_nums.sort()
    same = 0
    unkwon = lottos.count(0)

    for i in lottos :
        if i in win_nums :
            same += 1

    if same >= 1 :
        min_rank = 7 - same
    else :
        min_rank = 6

    best_rank = min_rank - unkwon

    if (unkwon == 6) & (best_rank == 0) :
        best_rank = 1

    answer = [best_rank, min_rank]

    return answer

solution(l2,w2)

[1, 6]

In [41]:
l1 = [44, 1, 0, 0, 31, 25]
w1 = [31, 10, 45, 1, 6, 19]
l2 = [0,0,0,0,0,0]
w2 = [38, 19, 20, 40, 15, 25]
l4 = [1,2,3,4,5,6]
w4 = [7,8,9,10,11,12]
# r1 = [3,5]

def solution(lottos, win_nums):
    #       0 1 2 3 4 5 6
    rank = [6,6,5,4,3,2,1]
    same = 0

    for i in win_nums :
        if i in lottos :
            same += 1
    
    min_rank = rank[same]
    max_rank = rank[same + lottos.count(0)]
    answer = [max_rank, min_rank]

    return answer

print(solution(l1,w1))
print(solution(l2,w2))
print(solution(l4,w4))

[3, 5]
[1, 6]
[6, 6]

In [80]:
import numpy as np
b = [[0,0,0,0,0,0],[0,0,0,1,0,3],[1,0,2,5,0,1],[2,4,2,4,4,2],[4,3,5,1,3,1]]
print(len(b))
print(len(b[0]))
print(np.arange(0,))
print(b[1][5])
print(b[4][1])

5
6
[]
3
3

In [92]:
b = [[0,0,0,0,0],[0,0,1,0,3],[0,2,5,0,1],[4,2,4,4,2],[3,5,1,3,1]]
m = [1,5,3,5,1,2,1,4]
# r = 4

def solution(board, moves):

    can = []
    count = 0
    
    for i in moves :
        # i : 뽑는 열
        # j : 봅는 행
        for j in range(0, len(board)) :
            if board[j][i-1] != 0 :
                can.append(board[j][i-1])
                board[j][i-1] = 0
                break
            else :
                pass

    # 전체 길이를 뽑자
    for i in range(len(can)-1) :
        if can[i-1] == can[i] :
            can[i-1] = 0
            can[i + 1] = 0
            count += 1
        else : 
            pass
                
    return count

solution(b, m)

2